<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div style="border: <%= color %> 5px solid ; width: 200px; height: 400px; border-radius: 10px; background-color: black">
<div style="background-color:rgb(0, 0, 0) ; border: red solid 1px; width: 10px; height: 10px; border-radius: 50%; margin: auto;"></div>


<% if (battery<30) { %>
    <p style="color: white; background-color: rgb(247, 19, 19);"><%= battery %> % </p>
<%} else if(battery<50){ %>
    <p style="color: white; background-color: rgb(240, 218, 54);"><%= battery %> % </p>
<% }else{ %>
    
    <p style="color: white; background-color: rgb(60, 240, 54);"><%= battery %> % </p>

    <% } %> 

 <% if (name=="Samsung") { %>
  <p style="color: white; padding-left: 4px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> SAMSUNG</p>
<p style="color: white; text-align: center; font-weight: bold; font-size: 35px;">Galaxy <%= phonetype %></p>
<p style="color: white; padding-left: 4px;">Light. Powerfull. Elegant.</p>
 <% } %> 


</div>
<div style="background-color: <%= color %> ; width: 210px; height: 400px; border-radius: 10px; margin-top: 10px"> 
<div style="background-color: black; border-radius: 50% ; width: 25px; height: 25px; margin: auto; margin-top: 10px; "></div>


<% if (name=="Iphone") { %>
 
    <img src="https://commons.wikimedia.org/wiki/File:Apple-logo.png" alt="apple" style="width: 100px; height:100px;">

<% } else if(name=="Samsung"){ %>

    <p style="text-align: center; color: bisque; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">SAMSUNG</p>

 <% } %> 

</div>
<p>Telefon: <%= name %> <%= phonetype %></p>
<p>Ár: <%= price %> Ft</p>
<p>Állapota: <%= durability %></p>


</body>
</html>